<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="https://cdn.tiny.cloud/1/fdjqpslhnuz9im83zj59ynu21r5nqivdf2s6n8aq1po5z7k7/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script> -->

</head>

<body class="d-flex flex-column vh-100" id="test">
    <%- include('../partials/navbar') %>


    <main class="container mt-5">

        <%- body %>

    </main>

    <%- include('../partials/footer') %>


    <script src="/public/assets/scripts.js"></script>


</body>

</html>