<% layout('layouts/boilerplate') %>

<body>
    <h1 class="text-center mb-4">Algorithms and Data Structures Exercise Form</h1>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-3">
                </h3>
                <form action="/" id="form">
                    <label class="form-label" for="submit">Insert Function Parameters Below:</label>
                    <input class="form-control mb-2" type="text" for="submit" id="input1"></input>
                    <input class="form-control mb-2" type="text" for="submit" id="input2"></input>
                    <button class="btn btn-info mb-2" id="submit">Click Me</button>
                </form>
                <h4 class="card-text">Output: </h4>
                <p>Some exercises may not work in the form, so you can enter the console and manually try the function
                    by using exercise(question parameter);</p>

                
        </div>
    </div>


</body>